<main>
  <section class='carousel-container'>
    <%- if @animal.media.blank? %>
      <img src='/assets/come_home.jpg', class: 'carosel-image'/>
    <% else %>
      <div class="carousel">
        <%- @animal.media.each do |p| %>
          <div><%= image_tag p.url, class: 'carosel-image' %></div>
        <% end %>
      </div>
    <% end %>
  </section>
  <div class='interlayer'></div>
  <section class= 'animal-info'>
    <h2 class='animal-name'><%= @animal.name %></h2>
    <div class='animal-info-item'>性别: <%= @animal.gender == 'male' ? '男孩子' : '女孩子' %></div>
    <div class='animal-info-item'>疫苗: <%= @animal.is_vaccined == true ? '已注射' : '待注射' %></div>
    <div class='animal-info-item'>绝育: <%= @animal.is_sterilized == true ? '已绝育' : '未绝育' %></div>
    <div class='animal-info-item'>体型: <%= @animal.size %></div>
    <div class='animal-description'><%= @animal.description %></div>
  </section>
</main>

<script type="text/javascript">
  $(function(){
    $('.carousel').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      autoplay: true,
      arrows: false,
      autoplaySpeed: 3000,
    });
  });
</script>
