<section class='carousel-container'>
  <div class="carousel">
			<div><%= image_tag 'dog-puppy-at-play.jpg', class: 'carosel-image' %></div>
			<div><%= image_tag 'dogs-playing-water.jpg', class: 'carosel-image' %></div>
			<div><%= image_tag 'send-rover-on-over-dog-rose.jpg', class: 'carosel-image' %></div>
			<div><%= image_tag 'a4.png', class: 'carosel-image' %></div>
			<div><%= image_tag 'a1.png', class: 'carosel-image' %></div>
	</div>
</section>

<hr/>

<main class='home-index'>
  <section class='animal-container'>
    <ul class='animal-list'>
      <% @all_animal.each do |animal| %>
        <li class='card'>
          <a href="/animals/<%= animal.id %>">
            <div class='animal-avatar' style = "background-image: url(<%= animal.media.first.try(:url) || 'http://p4wgbyuaw.bkt.clouddn.com/default_avatar.jpg' %>)"></div>
            <div class='animal-info'>
              <span class= 'name'>
                <%= animal.name %>
              </span>
              <span class= 'gender'>
                <%= animal.gender %>
              </span>
            </div>
          </a>
        </li>
      <% end %>
    </ul>
  </section>
</main>


<script type="text/javascript">
  $(function(){
    $('.carousel').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      autoplay: true,
      arrows: false,
      autoplaySpeed: 3000,
    });
  });
</script>
