<%= react_component('share/carousel') %>

<hr/>

<main class='home-index'>
  <section class='animal-container'>
    <ul class='animal-list'>
      <% @all_animal.each do |animal| %>
        <li class='card'>
          <a href="/animals/<%= animal.id %>">
            <div class='animal-avatar' style = "background-image: url(<%= animal.media.first.try(:url) || 'http://p4wgbyuaw.bkt.clouddn.com/default_avatar.jpg' %>)"></div>
            <div class='animal-info'>
              <span class= 'name'>
                <%= animal.name %>
              </span>
              <span class= 'gender'>
                <%= animal.gender %>
              </span>
            </div>
          </a>
        </li>
      <% end %>
    </ul>
  </section>
</main>


<script type="text/javascript">
  $(function(){
    $('.carousel').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      autoplay: true,
      arrows: false,
      autoplaySpeed: 3000,
    });
  });
</script>
