<!DOCTYPE html>
<html>
  <head>
    <title>DogAption</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="Shortcut icon" href="come_home.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  </head>

  <body>
    <%= render 'share/header' %>

    <%= yield %>

    <%= render 'share/footer' %>
  </body>
</html>
